doctype html 
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../css/bootstrap-5.3.3-dist/css/bootstrap.css')
    link(rel='stylesheet' href='../css/signup.css')
    link(rel='stylesheet' href='../css/managerdash.css')
    link(rel='stylesheet' href='../css/addproduce.css')
    link(rel='stylesheet' href='../css/signin.css')
    
    title Record Sale

  body
    .container
      .form-container
        .header1
          h1 Record Sale

        form(action='/addSale' method='post')
          .main-user-info
            .user-input-box
              label Tonnage (kgs)
              input(type='number' id= 'saletonnage' name='saletonnage' placeholder='Enter quantity' required)
            
            .user-input-box
              label Price per kg
              input(type='number' id= 'unitsellingprice' name='unitsellingprice' placeholder='Enter amount per kg' required)
            
            .user-input-box
              label Total Amount (auto-calculated)
              input(type='number' name='amountpaid' id='amountpaid' readonly required)
            
            .user-input-box
              label Buyer&apos;s Name
              input(type='text' name='buyername' placeholder="Enter buyer's name" required)
            
            .user-input-box
              label Sales Agent&apos;s Name
              select(name='sellername' required)
                option(value='') Choose...
                each user in users
                  option(value=user._id)= user.fullname

            .user-input-box
              label Date
              input(type='date' name='date' required)

            .user-input-box
              label Time of Produce
              input(type='time' name='time' required)

            .user-input-box
              label Name of Produce
              select(name='prodname' required)
                option(value='') Choose...
                each product in produces
                  option(value=product._id)= product.prodname

          .gender-details-box
            span.gender-title Branch
            .gender-category
              input#matugga(type='radio' name='branch' value='Matugga')
              label(for='Matugga') Matugga
              input#maganjo(type='radio' name='branch' value='Maganjo')
              label(for='Maganjo') Maganjo

          button.submit(type='submit') Submit
          script(src='../css/addsale.js')
