doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../css/bootstrap-5.3.3-dist/css/bootstrap.css')
    link(rel='stylesheet' href='../css/managerdash.css')
    link(rel='stylesheet' href='../css/addproduce.css')
    link(rel='stylesheet' href='../css/signin.css')
    title Record Sale

  body
    .container
      .form-container
        .header1
          h1 Record Sale

        form(action='/addSale' method='post')
          .main-user-info
            .user-input-box
              label Tonnage (kgs)
              input(type='number' name='saletonnage' placeholder='Enter quantity' required)
            
            .user-input-box
              label Price per kg
              input(type='number' name='unitsellingprice' placeholder='Enter amount per kg' required)
            
            .user-input-box
              label Amount Paid
              input(type='number' name='amountpaid' placeholder='Enter amount paid' required)
            
            .user-input-box
              label Buyer&apos;s Name
              input(type='text' name='buyername' placeholder="Enter buyer's name" required)
            
            .user-input-box
              label Sales Agent&apos;s Name
              select(name='sellername' required)
                option(value='') Choose...
                each user in users
                  option(value=user._id)= user.fullname

            .user-input-box
              label Date
              input(type='date' name='date' required)

            .user-input-box
              label Time of Produce
              input(type='time' name='time' required)

            .user-input-box
              label Name of Produce
              select(name='prodname' required)
                option(value='') Choose...
                each product in produces
                  option(value=product._id)= product.prodname

          button.submit(href='/viewingsale') Submit


//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   link(rel='stylesheet' href='../css/bootstrap-5.3.3-dist/css/bootstrap.css')
//-   link(rel='stylesheet' href='../css/managerdash.css')
//-   link(rel='stylesheet' href='../css/addproduce.css')
//-   link(rel='stylesheet' href='../css/signin.css')
//-   title Record Sale
      
//- .container
//-   .form-container
//-     .header1
//-       h1 Record Sale
//-       div
//-     form(action='/addSale' method='post')
//-       .main-user-info
//-         .user-input-box
//-           label Tonnage(kgs)
//-           input(type='number' name='saletonnage' placeholder='Enter quantity')
//-           .user-input-box
//-           label Price per kg
//-           input(type='number' name='unitsellingprice' placeholder='Enter amount per kg')
//-         .user-input-box
//-           label Amount Paid
//-           input(type='number' name='amountpaid' placeholder='Enter amount paid')
//-         .user-input-box
//-           label Buyer&apos;s name
//-           input(type='text' name='buyername' placeholder="Enter buyer's name")
//-         .user-input-box
//-           label Sales Agent&apos;s name
//-           input(type='text' name='sellername' placeholder="Enter sales agent's name")
//-         .user-input-box
//-           label Date
//-           input(type='date' name='date' placeholder="Enter today's date")
//-         .user-input-box
//-           label Time of Produce
//-           input(type='time' name='time' placeholder='Enter time')
//-         .gender-details-box
//-           span.gender-title Name of Produce
//-           .gender-category
//-             select.produce(name='prodname')
//-               option(value='Choose...')
//-               option(value='grainmaize') Grain Maize
//-               option(value='soybeans') Soy Beans
//-               option(value='cowpeas') Cow Peas
//-               option(value='gnuts') Gnuts
//-               option(value='beans') Beans
//-             br
//-           div
//-             button.submit Submit
