doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/bootstrap-5.3.3-dist/css/bootstrap.css')
  link(rel='stylesheet' href='../css/signup.css')
  link(rel='stylesheet' href='../css/signin.css')
  title Client Information
  h1.header KARIBU GROCERIES LIMITED
  hr
.container
  h1.form Register Client
  form(action='addClient' method='post')
    .main-user-info
      .user-input-box
        label(for='fullname') Full Name
        input#fullName(type='text' name='fullName' placeholder="Enter client's full name")
        label(for='email') Email
        input#email(type='email' name='email' placeholder="Enter client's email")
        label(for='phonenumber') Phone Number
        input#phoneNumber(type='number' name='phoneNumber' placeholder="Enter client's number")
    .gender-details-box
      span.gender-title(name='gender') Gender
      .gender-category
        input#male(type='radio' name='male')
        label(for='male') Male
        input#female(type='radio' name='female')
        label(for='female') Female
      button.submit Submit
