<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontPage</title>
    <link rel="stylesheet" href="../css/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>

    <div class="container">
    <p>WELCOME TO KARIBU GROCERY STORE</p>

        <h2>KGL is the number one distributor and seller of agricultural produce</h2>
    

    <div class="account">
        <h3>
            Don't have an account?
            
                <button class="signup"><a href="/signingup"></a>Sign Up</button>
            </a>
        </h3>
        <h3>
            Already have an account?
            
                <button class="signin"><a href="/login"></a>Sign In</button>
            </a>
        </h3>
    </div></div>

    <script src="../css/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
</body>
</html>
