doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title FrontPage
    link(rel='stylesheet' href='../css/bootstrap-5.3.3-dist/css/bootstrap.css')
    link(rel='stylesheet' href='../css/index.css')
  body
    .container
      p WELCOME TO KARIBU GROCERY STORE
      h2 KGL is the number one distributor and seller of agricultural produce
      .account
        h3
          | Don't have an account?
          a(href='/signingup')
            button.signup Sign Up
        h3
          | Already have an account?
          a(href='/login')
            button.signin Sign In
    script(src='../css/bootstrap-5.3.3-dist/js/bootstrap.bundle.js')
