<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/addproduce.css">

    <link rel="stylesheet" href="../public/css/signin.css">
    
    
    <title>Record Sale</title>
</head>
<body>
    
    <div class="container">
        <div class="form-container">
            <div class="header1">
                <h1>Record Sale</h1>
                <div></div>
            </div>
            <form action="#" method="post">
                <div class="main-user-info">
            
                <div class="user-input-box">
                    <label>Tonnage(kgs)</label>
                  <input type="number" name="quantity"  placeholder="Add quantity"/>
                </div>
                <div class="user-input-box">
                    <label>Amount Paid</label>
                  <input type="number" name="amountprice"  placeholder="Add amount paid"/>
                </div>
                <div class="user-input-box">
                    <label>Buyer's name</label>
                  <input type="text" name="buyername"  placeholder="Add buyer's name"/>
                </div>
                <div class="user-input-box">
                    <label>Sales Agent's name</label>
                  <input type="text" name="salesagentname"  placeholder="Add sales agent's name"/>
                </div>
                <div class="user-input-box">
                  <label>Date</label>
                <input type="date" name="date"  placeholder="Enter today's date"/>
              </div>
              <div class="user-input-box">
                <label>Time of Produce</label>
              <input type="time" name="time"  placeholder="Enter time"/>
            </div>
            <div class="gender-details-box">
                <span class="gender-title">Name of Produce</span>
                <div class="gender-category">
                    <select name="produce" class="produce">
                        <option value=""></option>
                        <option value="grainmaize">Grain Maize</option>
                        <option value="soybeans">Soy Beans</option>
                        <option value="cowpeas">Cow Peas</option>
                        <option value="gnuts">Gnuts</option>
                        <option value="beans">Beans</option>
        
                 </select><br>
            
            </div>
            <div>
            <button class="submit">Submit</button>      
   </div>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>